body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: none}
.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/NINTCHDBPICT000603046726.jpg");
  min-height: 90%;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}

body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: none}
.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("img/Italian-food-on-vintage-wood-background-with-chalkboard-with-text.jpg");
  min-height: 90%;
}